<app-header-paciente class="fixed-top"></app-header-paciente>
<div *ngIf="!isAuthenticated">
    <div class="cuerpo d-flex justify-content-center align-items-center vh-100">
        <app-not-found></app-not-found>
    </div>
</div>
<div *ngIf="isAuthenticated">
    <div class="cuerpo">
        <div [ngClass]="{'slide-down': isDetailsVisible, 'slide-up': !isDetailsVisible}" class="details-section fixed-top w-100" style="margin-top: 5.5%; background-color: lightgray;">
            <button (click)="toggleVisibility(); aplicarFiltros()" [ngClass]="{'mt-7y15': isDetailsVisible, 'mt-0': !isDetailsVisible}" style="margin-left: 46.75%;" class="btn btn-dark col-1 position-absolute toggle-button"> {{ btnAplicar }} </button>
            <div class="row filter-controls px-4" *ngIf="isDetailsVisible">
                <div class="col-1"></div>
                <div class="col-2" [ngClass]="{'slide-down': isDetailsVisible, 'slide-up': !isDetailsVisible}">
                    <div class="row mt-2">
                        <button class="btn btn-primary" (click)="changeFiltros()"> {{btnFiltros}} </button>
                    </div>
                    <div class="row mt-1">
                        <button class="btn btn-info text-light" (click)="soloMujeres()">Sólo mostrarme mujeres</button>
                    </div>
                    <div class="row mt-1">
                        <button class="btn btn-secondary" (click)="soloHombres()">Sólo mostrarme hombres</button>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div *ngFor="let especialidad of especialidades" class="form-check col-3">
                            <input type="checkbox" [id]="especialidad.valor" class="form-check-input mx-2 mt-2" 
                                (change)="onCheckboxChange(especialidad.valor)" [checked]="problemas.includes(especialidad.valor)">
                            <label class="form-check-label mt-2" [for]="especialidad.valor">{{ especialidad.nombre }}</label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row" [ngClass]="{'mt-17': isDetailsVisible, 'mt-10': !isDetailsVisible}" style="transition: margin-top 0.5s;">
            <div class="card text-center mb-10 col-3 p-3" *ngFor="let doctor of doctores" style="border: outset 10px #2BC0E4; margin-left: 6.25%; border-radius: 20%;">
                <img src="../../../assets/img/{{doctor.email}}.jpg" height="350px" style="border-radius: 30%;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title"> {{doctor.nombre}} </h2>
                    <h5 class="card-subtitle mb-2"> {{doctor.apellidos}} </h5>
                    <p class="card-text">Especializado/a en {{doctor.especialidades}}</p>
                    <a *ngIf="doctor.idDoc !== undefined" (click)="crearPending(doctor.idDoc)" class="btn btn-primary">Solicitar atención</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-paciente class="fixed-bottom"></app-footer-paciente>
