<div class="cuerpo" id="fullheight">
    <img src="../../../assets/img/PsyQuiLogoLado.png" class="logo mt-lg-3 position-absolute">
    <div class="col-lg-8 offset-lg-2 cuadroRegistro position-absolute">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-lg-4">
                <h3 class="titulo text-center display-5 mt-lg-3 mb-lg-0">Inicia sesión</h3>
                <h4 class="text-center text-secondary">Si ya tienes cuenta inicia sesión</h4>
                <button class="btn btn-primary redes" role="link" type="button">
                    <i class="fa-brands fa-square-facebook fa-lg"></i>&nbsp; Continuar con Facebook
                </button>
                <button class="btn btn-info redes text-light mt-lg-2" role="link" type="button">
                    <svg viewBox="-0.5 0 48 48" version="1.1">
                                    <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05"></path>
                                    <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335"></path>
                                    <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853"></path>
                                    <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4"></path>
                    </svg>&nbsp; Continuar con Google
                </button>
                <button class="btn btn-dark redes mt-lg-2" role="link" type="button">
                    <i class="fa-brands fa-apple fa-lg"></i>&nbsp; Continuar con Apple
                </button>
                <br>
                <br>
                <div class="text-center h4 m-lg-0">
                    - O -
                </div>
                <form [formGroup]="login" (ngSubmit)="iniciarSesion()" class="form m-lg-0">
                    <div class="form-group mb-3 mt-lg-0 m-lg-4">
                        <label for="correo" class="form-label h5 mt-lg-4">Correo electrónico</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user" style="color: #74C0FC;"></i>
                            </span>
                            <input type="text" formControlName="email" class="form-control" id="correo" placeholder="Introduce tu correo electrónico">
                        </div>
                        <label for="password" class="form-label h5 mt-lg-3">Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock" style="color: #74C0FC;"></i>
                            </span>
                            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Introduce tu contraseña">
                        </div>
                        <a class="text-dark" href="#">¿Has olvidado tu contraseña?</a>
                    </div>
                    <div class="text-center p-lg-3">
                        Al o iniciar sesión, acepto las <a href="#" class="text-dark">Condiciones de Servicio</a> y la <a href="#" class="text-dark">Política de Privacidad</a>, confirmo que tengo 18 años de edad o más y acepto recibir comunicaciones por correo electrónico.
                    </div>
                    <button class="btn btn-primary redes mt-lg-2" role="link" type="submit"> Iniciar sesión </button>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 rqr">
                <div class="registroContent">
                    <h1 class="regTitulo">En PsyQui te ayudamos a encontrar la ayuda que buscas de la forma que quieres</h1>
                    <br>
                    <div class="row mt-lg-5">
                        <div class="col-lg-6">
                            <h4 class="regTitulo">Si necesitas ayuda urgente y cuanto antes</h4>
                            <a href="/RegistroRap" class="btn btn-success regBtt">
                                Regístrate rápido
                            </a>
                        </div>
                        <div class="col-lg-6 linea-vertical border-success">
                            <h4 class="regTitulo">Si quieres que busquemos más detalladamente</h4>
                            <a class="btn btn-success regBtt2" href="/RegistroPerson">
                                Regístrate con más tiempo
                            </a>
                        </div>
                    </div>
                    <h4 class="mt-lg-5 regTitulo">Si eres doctor y quieres disfrutar de nuestro servicio haz click <a href="/inicioDoc" class="text-dark" >aquí</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>