<header class="container-fluid py-2">
    <div class="row align-items-center">
      <div class="col-md-3 col-lg-2 text-center">
        <img src="../../../assets/img/PsyQuiLogoLado.png" class="mt-2 img-fluid" style="max-width: 100%;">
      </div>
      <div class="col-md-7 col-lg-6 offset-1">
        <nav class="d-none d-md-flex">
          <a href="/Home" class="text-light option">Inicio</a>
          <a href="/Busqueda" class="text-light option">Buscar</a>
          <a href="/Citas" class="text-light option">Citas</a>
        </nav>
        <button class="navbar-toggler d-md-none btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light option" routerLink="/Home" >Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light option" routerLink="/Busqueda" >Buscar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light option" routerLink="/Citas" >Citas</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-lg-3 text-end">
        <div class="option"><a (click)="cerrarSession()"><i class="fa-solid fa-right-from-bracket" style="color: #EAECC6;"></i><span class="text-light">Cerrar sesión</span></a></div>
      </div>
    </div>
  </header>
  