
.cuerpo{
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.titulo{
    font-weight: bold;
}

.logo{
    animation: fadeInUp 3s forwards;
    opacity: 0;
}

.cuadroRegistro{
    opacity: 0;
    animation: fadeInUp 1.75s forwards, slideUp 1.75s forwards;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 12.5%;
    background-color: white;
    width: 75%;
    height: 70%;
    box-shadow: -1px 0px 35px -10px rgba(234,236,198,1);
    
}

.cuadroRegistro1{
  opacity: 0;
  animation: fadeInUp 1.75s forwards, slideUp 1.75s forwards;
  border-radius: 20px;
  margin-top: 7.5%;
  margin-left: 12.5%;
  background-color: white;
  width: 75%;
  height: 80%;
  box-shadow: -1px 0px 35px -10px rgba(234,236,198,1);
  
}

.bt1{
  border-radius: 0;
  border-bottom-left-radius: 20px;
}

.bt2{
  border-radius: 0;
  border-bottom-right-radius: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}


.rqr{
    background: url(../../../assets/img/RegistroDoctor.jpg);
    background-size: cover;
    background-repeat:space;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    border-left: 3px solid #A770EF;
    height: 100%;
    align-items: center;
    text-align: center;
}

.btn-purple{
    background-color: #A770EF;
    color: white;
    border-radius: 35px;
}

.regTitulo{
    color: magenta;
    font-style: italic;
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
    text-shadow:darkred 1px 0px 10px;
}

.regTexto{
    color: magenta;
    font-style: italic;
    width: 80%;
    margin-left: 10%;
    text-shadow: darkred 1px 0px 10px;
}

.linea-vertical{
    border-left: 3px solid;
    border-radius: 3px;
}

